@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

body {
  margin: 0;
}
.grid-container.has-sidebar {
  height: 100vh; /* 전체 화면 높이 사용 */
  display: grid;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar exchange-section"
    "sidebar content"
    "footer footer";
}
@media (max-width: 768px) {
  .grid-container.has-sidebar {
    grid-template-columns: 1fr; /* 1열 레이아웃 */
    grid-template-areas:
      "header"
      "exchange-section"
      "content"
      "footer";
  }
}

.grid-container.no-sidebar {
  border: solid;
  height: 100vh; /* 전체 화면 높이 사용 */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "exchange-section"
    "content"
    "footer";
}

.header {
  grid-area: header;
}

.exchange-section {
  /* border: solid; */
  grid-area: exchange-section;
}

.content {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}
